@using MemberRegistration.MvcWebUI.Models
@model MemberAddViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add";
}

<div class="py-5 text-center">
    <h2>Kayıt Formu</h2>
    <p class="lead">Lütfen bilgilerinizi giriniz</p>
    <p class="text-danger fw-bold">@Html.ValidationMessage("MemberException")</p>
</div>

<div class="row">
    <div class="col-md">
        <h4 class="mb-3">Bilgileriniz</h4>
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="firstName">Ad</label>
                    <input type="text" class="form-control" id="firstName" name="member.firstName" placeholder="" value="">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="lastName">Soyad</label>
                    <input type="text" class="form-control" id="lastName" name="member.lastName" placeholder="" value="">
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="member.email" placeholder="you@example.com">
            </div>

            <div class="mb-3">
                <label for="tcNo">TC Kimlik Numarası</label>
                <input type="text" class="form-control" id="tcNo" name="member.tcNo" placeholder="12345678900">
            </div>

            <div class="mb-3">
                <label for="dateOfBirth">Doğum Tarihiniz</label>
                <input type="text" class="form-control" id="dateOfBirth" name="member.dateOfBirth" placeholder="01/01/1999">
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block w-100" type="submit">Kayıt ol</button>
        }
    </div>
</div>