@model DevFramework.Northwind.MvcWebUI.Models.ProductListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Products</h1>
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>@product.ProductName</li>
        }
    </ul>
</div>
</body>
</html>